html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  font-family: Roboto;
  width: 100%;
  height: 100%;
}

section {
  width: 100%;
  height: 100%;
}

#presentation {
  background: #00b5c6;
}

#team {
  background-color: #7a6594;
}

#contact {
  background: #c8482f;
}
