html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  font-family: Roboto;
  color: black;
}

#content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#recto,
#verso {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

#construction {
  padding-top: 50px;
  font-size: 40px;
  font-variant: all-small-caps;
}

img {
  width: 100%;
  max-width: 1000px;
  height: auto;
  flex-wrap: wrap;
}

header {
  background-color: #136031;
  width: 100%;
  height: 4em;
  position: fixed;
  top: 0px;
}

footer {
  background-color: #136031;
  width: 100%;
  height: 4em;
  bottom: 0px;
}
